* {
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  text-align: center;
}

#menu-button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 120px;
}

.menu-button {
  min-width: 10vw;
  min-height: 20vh;
  background-color: rgb(177, 177, 177);
  text-decoration: none;
  border-radius: 10px;
  padding: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menu-button:hover {
  /* width: 300px; */
  background-color: rgb(255, 129, 129);
  transition: 0.3s;
  box-shadow: rgba(108, 3, 3, 0.35) 0px 5px 15px;
}

.menu-button p {
  color: white;
  font-size: x-large;
  font-weight: bolder;
  max-width: 120px;
  overflow-wrap: break-word;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1300px) {
  #menu-button-container {
  }
  .menu-button {
    min-width: 1vw;
    padding: 80px;
  }
  .menu-button p {
    max-width: 400px;
  }
}

@media screen and (max-width: 1000px) {
  #menu-button-container {
    flex-direction: column;
    margin-top: 0px;
  }
  .menu-button {
    min-width: 300px;
  }
}

#B {
  stroke: #777;
  stroke-width: 3;
  fill: #ffffff;
}
.circle-top {
  /* fill: #bebb98; */
  stroke-width: 3;
  fill: #ffffff;
}

.circle-top.circle-left.circle-right {
  /* fill: darken(#bebb98, 20%); */
  fill: #ffffff;
}
.circle-right.circle-left {
  fill: #ffffff;
}
.circle-right.circle-top {
  /* fill: darken(#97c2a7, 20%); */
}

#A {
  stroke: #777;
  stroke-width: 3;
  /* fill: #be694c; */
  fill: #ffffff;
}

#C {
  stroke: #777;
  stroke-width: 3;
  /* fill: #97c2a7; */
  fill: #ffffff;
}
.overlap {
  stroke: #777;
  stroke-width: 3;
}

#venn {
  border: 1px solid black;
  margin: 10px;
  /* min-width: 450px;
  min-height: 450px;
  padding: 10px; */
}

#venn2 {
  border: 1px solid black;
  margin: 10px;
  /* min-width: 450px;
  min-height: 450px;
  padding: 10px; */
}

.active {
  fill: #f7473e !important;
  background-color: #f7473e !important;
}

/* .highlight {
  fill: #ff655d64 !important;
} */

.testh1 {
  color: #f7473e;
}

#get-regions-btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#questioncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#questiontitle {
  font-family: DINNextRoundedLTW01-Regular, sans-serif;
}

@import url(//db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DINNextRoundedLTW01-Regular);

#questiontext {
  background-color: #dddddd53;
  padding: 15px;
  font-size: 35px;
  font-family: DINNextRoundedLTW01-Regular, sans-serif;

  font-weight: bolder;
}

#correcttext {
  font-size: 30px;
  color: #1bca1a;
  font-family: DINNextRoundedLTW01-Regular, sans-serif;
  margin-left: 15px;
}

#wrongtext {
  font-size: 30px;
  color: #f81515;
  font-family: DINNextRoundedLTW01-Regular, sans-serif;
  margin-left: 15px;
}

#answer-form {
  display: flex;
}

#nextq {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 25px;
}

#id_Answer {
  color: black;
  padding: 12.5px 3.3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  border: 2.5px solid #acacac;
  font-family: DINNextRoundedLTW01-Regular, sans-serif;
}

#questionsubmit {
  background-color: #5a5a5a;
  border: none;
  color: white;
  padding: 15px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: DINNextRoundedLTW01-Regular, sans-serif;
}

#questionsubmit:hover {
  background-color: #919191; /* Green */
}

#home-btn {
  margin-left: 10px;
  color: black;
  /* padding: 12.5px 3.3px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 30px; */
  font-weight: bold;
  font-family: DINNextRoundedLTW01-Regular, sans-serif;
}

#home-btn:hover {
  background-color: #ffa19c;
}

#select-language {
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  margin-bottom: 15px;
}

#language-dropdown {
  color: black;
  /* padding: 12.5px 3.3px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 30px; */
  font-weight: bold;
  border: 2.5px solid #acacac;
  font-family: DINNextRoundedLTW01-Regular, sans-serif;
}

#submit-language {
  background-color: #5a5a5a;
  border: none;
  color: white;
  /* padding: 15px 34px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 20px; */
  font-weight: bold;
  cursor: pointer;
  font-family: DINNextRoundedLTW01-Regular, sans-serif;
}

#symbols {
  display: flex;
}

.symbol-btn {
  margin-left: 10px;
  margin-right: 10px;

  background-color: #5a5a5a;
  border: none;
  color: white;
  padding: 15px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  font-family: DINNextRoundedLTW01-Regular, sans-serif;
}

.symbol-btn:hover {
  background-color: #919191; /* Green */
}

#id_Difficulty {
  color: black;
  padding: 12.5px 3.3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border: 2.5px solid #acacac;
  font-family: DINNextRoundedLTW01-Regular, sans-serif;
}

#id_Question {
  color: black;
  padding: 12.5px 3.3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border: 2.5px solid #acacac;
  font-family: DINNextRoundedLTW01-Regular, sans-serif;
}

#id_Type {
  color: black;
  padding: 12.5px 3.3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border: 2.5px solid #acacac;
  font-family: DINNextRoundedLTW01-Regular, sans-serif;
}

#create-question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#questionform {
  background-color: #acacac;
  padding: 20px;
  font-size: 20px;
}

#create-question-submit {
  background-color: #4bcb66;
  border: none;
  color: white;
  padding: 15px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: DINNextRoundedLTW01-Regular, sans-serif;
}
