{% extends "master.html" %}
{% load i18n%}
{% block head %}
    <script>

        //TODO: function needed that shows Diagram if Type is Simplify (1)
        //and shows an Answer input box if Type is Diagram (2)

        //Similiar function in questionpage.html needed for turning Diagram into {...} before post request is sent

    </script>
{% endblock%}
{% block body %}
    <a href="/">Home Page</a>
    <h1></h1>
    <form action="createQuestion" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit">
    </form>
{%endblock%}