{% extends "master.html" %}
{% load i18n %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        
        //TODO: function that shows Diagram wither with regions coloured on or blank with user input responsiveness
        //TODO: function that changes Answer to {...} from Diagram (called if type is 2 when sending ajax)

        $(function(){ /* DOM ready */
            if({{Type}} == 1){
                $("#id_Answer").css("display","none");
                //Show Diagram Q
                $("#questiontext").html("Write the simplified equation for this diagram");

            }else{
                $("#id_Answer").css("display","");
                //Show Diagram (for user input) 
                $("#questiontext").html("Shade {{Question}} on Diagram");
            }
        });

        function ajax(){
            $.ajax({
                type: 'POST',
                url: "ajax/checkAnswer",
                data: $("#answer-form").serialize(),// 2nd TODO here to change Answer
                success: function (response) {
                    // clear the form.
                    console.log(response);
                    $("#answer-form").trigger('reset');
                },
                error: function (response) {
                    alert(response["responseJSON"]["error"]);
                }
            });
        }
    </script>
{%endblock %}
{% block body %}
    <a href="/">{% trans "Home Page"%}</a>

    <h1>Question</h1>
    
    <p id="questiontext"></p>

    <ul>
        <li>{{Question}}</li>
        <li>{{Difficulty}}</li>
        <li>{{Type}}</li>
    </ul>

    <form id="answer-form" onsubmit="ajax();return false;">
        {% csrf_token %}
        <input type="hidden" value="{{Difficulty}}" name="Difficulty">
        <input type="hidden" value="{{Question}}" name="Question">
        <input type="hidden" value="{{Type}}" name="Type">
        <input type="text" name="Answer" id="id_Answer">
        <input type="submit" value="Submit">
    </form>
{% endblock %}
